<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"    
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/context    
    http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- datasource -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="username" value="${username}"></property>
	    <property name="password" value="${password}"></property>
	    <property name="url" value="${url}"></property>
	    <property name="driverClassName" value="${driverClassName}"></property>
	</bean>
	
	<!-- sqlsessionfactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	     <property name="dataSource" ref="dataSource"></property>
	     <property name="mapperLocations" value="classpath:com/jbit/dao/*Mapper.xml"></property>
	     <property name="typeAliasesPackage" value="com.jbit.entity"></property>
	</bean>
	
	<bean id="deptDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	   <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	   <property name="mapperInterface" value="com.jbit.dao.DeptDao"></property>
	</bean>
    
</beans>